{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

{import 'components/form.latte'}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>

		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" n:href="Homepage:">Projekt: Kalkulačka</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample03">
				<ul class="navbar-nav mr-auto">
					<li n:if="$user->role>1" class="nav-item">
						<a class="nav-link" n:href="Dealers:">Dodavatelé</a>
					</li>
					<li n:if="$user->role>2" class="nav-item">
						<a class="nav-link" n:href="Users:">Uživatelé</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-md-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{$user->username}
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a class="dropdown-item disabled" href="#">{$user->email}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" n:href="Sign:out">Odhlásit se</a>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</nav>

		{foreach $flashes as $flash}
			{if $flash->type != print && $flash->type != print2 && $flash->type != print3}
				<div n:class="flash, $flash->type, alert, alert-dismissible">

					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{if $flash->type == alert-danger}
						<h4><i class="icon fa fa-warning"></i> Chyba</h4>
					{elseif $flash->type == alert-info}
						<h4><i class="icon fa fa-info"></i> Informace</h4>
					{elseif $flash->type == alert-success}
						<h4><i class="icon fa fa-check"></i> Povedlo se!</h4>
					{/if}

					{$flash->message}

				</div>
			{/if}
		{/foreach}

		<div class="container" style="margin-top: 20px">
			{include content}
		</div>

	{block scripts}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
