{block content}
    <h1 n:block="title" class="box-title">Kalkulačka</h1>
    <div class="row">
        <div class="col-6">
            {control calculateForm}
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    {foreach $flashes as $flash}
                        {if $flash->type == print2}
                            <div class="row">
                                {$flash->message}
                            </div>
                        {/if}
                    {/foreach}
                </div>
                <div class="col-1">
                </div>
                <div class="col-5">
                    {foreach $flashes as $flash}
                        {if $flash->type == print}
                            <div class="row">
                                {$flash->message}
                            </div>
                        {/if}
                    {/foreach}
                </div>
                <div class="col-1">
                    {foreach $flashes as $flash}
                        {if $flash->type == print3}
                            <div class="row">
                                {$flash->message}
                            </div>
                        {/if}
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
{/block}
