{block content}
    <h1 n:block="title" class="box-title">Přehled dodavatelů</h1>

    <a class="btn btn-primary" n:href="Dealers:create">+ Přidat dodavatele</a>
    <table class="table">
        <tr>
            <th>Název</th>
            <th>Akce</th>
        </tr>
    {foreach $dealers as $dealer}
        <tr>
            <td>{$dealer->name}</td>
            <td>
                <a class="btn btn-info" n:href="Dealers:detail $dealer->id">Detail</a>
                <a class="btn btn-success" n:href="Dealers:edit $dealer->id">Upravit</a>
                <a class="btn btn-danger" n:href="Dealers:delete $dealer->id">Smazat</a>
            </td>
        </tr>
    {/foreach}
    </table>

{/block}
