{block content}
    <h1 n:block="title" class="box-title">Přehled dodavatele {$dealers->name}</h1>

    <table class="table">
        <tr>
            <th>Od kusů</th>
            <th>% marže</th>
            <th>Akce</th>
        </tr>
        {if $margins != null}
            {foreach $margins as $margin}
                <tr>
                    <td>{$margin->breakpoint}</td>
                    <td>{$margin->percent}</td>
                    <td><a class="btn btn-danger" n:href="Dealers:margindelete $margin->id, $dealers->id">Smazat</a></td>
                </tr>
            {/foreach}
            <tr>
                <td colspan="2" n:if='!$iterations'> Žádné marže nebyly nenalezeny </td>
            </tr>
        {/if}
    </table>
    <a class="btn btn-primary" n:href="Dealers:margincreate $dealers->id">+ Přidat marži</a>

{/block}
