{block content}
    <h1 n:block="title" class="box-title">Přehled uživatelů</h1>

    <a class="btn btn-primary" n:href="Users:create">+ Přidat uživatele</a>
    <table class="table">
        <tr>
            <th>Jméno</th>
            <th>Email</th>
            <th>Akce</th>
        </tr>
    {foreach $userss as $u}
        <tr>
            <td>{$u->username}</td>
            <td>{$u->email}</td>
            <td><a class="btn btn-success" n:href="Users:edit $u->id">Upravit</a>
                <a class="btn btn-danger" n:if="$u->id != $user->id" n:href="Users:delete $u->id">Delete</a>
            </td>
        </tr>
    {/foreach}
    </table>

{/block}
